.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.footName {
    background-color: black;
    margin: 5px;
}

.instagramIcon {
    background-color: black;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.facebookIcon {
    background-color: black;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}
