@import url("https://fonts.google.com/specimen/Style+Script");
.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.footName {
    background-color: black;
    margin: 5px;
}

.stellar {
    text-align: center;
   font-size: 10pt;
   font-family: "Style Script";
}


