.header {
   display: flex;
   justify-content: end;
}

.name {
   display: flex;
   align-items: center;
   flex-grow: 2;
   margin-left: 15px;
   font-size: 2em;
   font-family: Snell Roundhand, cursive;
   color: rgb(145, 21, 136);
}





