.header {
   display: flex;
   justify-content: end;
}

.name {
   display: flex;
   align-items: center;
   flex-grow: 2;
   margin-left: 15px;
   font-size: 2em;
   color: white;
}

.fa-title {
   color: white;
   text-decoration : none;
}

.fa-home {
   color: white;
   text-decoration : none;
}

.fa-shop {
   color: white;
   text-decoration : none;
}

.fa-contact {
   color: white;
   text-decoration : none;
}

.fa-bio {
   color: white;
   text-decoration : none;
}







