

.header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 5px;
}

.name {
   display: flex;
   align-items: center;
   flex-grow: 2;
   font-size: 2em;
   color: white;
   margin: auto;
}

#nav {
   display: flex;
   align-items: center;
   justify-content: end;
   padding: 5px;
}

.fa-title {
   display: flex;
   align-items: center; 
   justify-content: start;
   color: white;
   text-decoration : none;
   font-family: Aldrich;
   padding: 3px;
   margin: 5px;
}.fa-title:hover { 
   color: white;
   text-shadow: .5px .5px; 
}

.fa-home {
   color: white;
   text-decoration : none;
   font-family: Aldrich;
}.fa-home:hover { 
   color: white;  
   text-shadow: .5px .5px; 
}

.fa-gallery {
   color: white;
   text-decoration : none;
   font-family: Aldrich;
}.fa-gallery:hover { 
   color: white;  
   text-shadow: .5px .5px; 
}

.fa-shop {
   color: white;
   text-decoration : none;
   font-family: Aldrich;
}.fa-shop:hover { 
   color: white;  
   text-shadow: .5px .5px; 
}

.fa-contact {
   color: white;
   text-decoration : none;
   font-family: Aldrich;
}.fa-contact:hover { 
   color: white;  
   text-shadow: .5px .5px; 
}

.fa-bio {
   color: white;
   text-decoration : none;
   font-family: Aldrich;
}.fa-bio:hover { 
   color: white;  
   text-shadow: .5px .5px; 
}


@media screen and (max-width: 800px) {
   #nav, .header, .name, .title {
      display: flex;
      flex-direction: column;
   }
}





