.icons {
    display: flex;
}

.instagramIcon {
    background-color: black;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}

.facebookIcon {
    background-color: black;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}