.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 5px;
    color: white;
}

 figCaption {
    font-family:fantasy;
    color: white;
    text-indent: 2em;
    font-size: 16pt;
    padding: 2%;
 }

 @media screen and (max-width: 800px) {
     figCaption {
        font-size: 14pt;
     }
 }