.bio {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    color: white;
}

 figCaption {
     color: white;
     text-indent: 2em;
     font-size: 18pt;
     padding: 2em;
 }

 @media screen and (max-width: 800px) {
     figCaption {
        font-size: 12pt;
     }
 }