.contact {
    color: white;
    font-size: 2rem;
    padding: 2em;
}

.email {
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .contact {
        font-size: 14pt;
        color: yellow;
    }
}