.contact {
    color: rgb(230, 230, 168);
    font-size: 20pt;
    padding: 2em;
}

.email {
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .contact {
        font-size: 14pt;
        color: rgb(230, 230, 168);
    }
}